<div class="block-section">
    <div class="block-content">
        <div class="ng-star-inserted">    
            <div class="grid grid-nogutter surface-section text-800">
                <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
                    <section>
                        <span class="block text-6xl font-bold mb-1">Introdução à Engenharia Com Arduino</span>
                        <div class="text-6xl text-primary font-bold mb-3"></div>
                        <p class="mt-0 mb-4 text-2xl line-height-3">Programe com o TinkerCad e Arduino IDE e aprenda Arduino para automação, projetos pessoais ou profissionais.</p>
                        
                        <a class="p-button-raised mr-3" pRipple type="button" pButton  
                        href="https://www.udemy.com/course/introducao-a-engenharia-com-arduino/" target="_blank">Saiba mais</a>

                        <a class="p-button-outlined" pRipple type="button" pButton  
                        href="https://www.youtube.com/watch?v=7zTCt-VmGvI" target="_blank">Apresentação</a>

                    </section>
                </div>
                <div class="col-12 md:col-6 overflow-hidden">
                    <img src="assets/images/curso_arduino.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
                </div>
            </div>
        </div>
    </div>
    
</div>